<div class="card-body">
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-8">Post Title: <span style="color: var(--primary);">{{post_title}}</span></div>
      <div class="col-4">posted by <span style="color: var(--primary);">{{user.username}}</span> on <span style="color: var(--primary);">{{format_date date_created}}</span></div>
    </div>  
  </a>
</div>